%nav.navbar-default
  %ul.nav.navbar-nav
    %li.item1
      %a{:href => " /staticpages/team"}
        %span.menu-text
          = "Aim"
      
    %li.item2
      %a{href: "/staticpages/events"}
        %span.menu-text
          = "Events"

    %li.item3
      %a{href: "/staticpages/distributions"}
        %span.menu-text
          = "Distributions"
    %li.item4
      %a{href: "/staticpages/tieup"}
        %span.menu-text
          = "Adopted Schools"
    %li.item5
      %a{href: "/staticpages/fame"}
        %span.menu-text
          = "Fame Of UDAAN"
      
   
      
