%nav.navbar-default
  %ul.nav.navbar-nav
    %li.item1
      %a{:href => "/staticpages/home"}
        = fa_icon "home", :class => "menu-icon"
        %span.menu-text
          = "Home"
      
    %li.item2
      %a{href: "/staticpages/activity7"}
        = fa_icon "twitter", :class => "menu-icon"
        %span.menu-text
          = "UDAAN"
    %li.item3
      %a{href: "/staticpages/activity4"}
        = fa_icon "book", :class => "menu-icon"
        %span.menu-text
          = "Grammar"
    %li.item4
      %a{href: "/staticpages/boardofeducation"}
        = fa_icon "group", :class => "menu-icon"
        %span.menu-text
          = "Schools"
    %li.item5
      %a{href: "/staticpages/aboutus"}
        = fa_icon "phone", :class => "menu-icon"
        %span.menu-text
          = "ContactUs"
      
  
