!!!
%html
  %head
    = stylesheet_link_tag  "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag 'swfobject'
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
  = render 'layouts/footer'
